
<section>
  <h1><%= title %></h1>
  <h2>George Timothy Clooney</h2>
  <img src="images/330px-George_Clooney_2016.jpg">
  <p>George Timothy Clooney (Lexington, Kentucky; 6 de mayo de 1961) es un actor, director, productor y guionista estadounidense. Ha sido galardonado con cuatro Globos de Oro, dos Óscar y un BAFTA. También es conocido por su activismo político, siendo Mensajero de la Paz de Naciones Unidas desde 2008, título al que renunció posteriormente. </p>
</section>